.listBox
  position:relative
  .lableBox
    padding:20px
    .newLabel
      display:flex
      align-items:center
      .flex1
        flex:1
        &.addLabel
          padding-right:10%
        &.searchLabel
          padding-left:10%
    .labelList
      margin-top:30px
      border-top:1px solid #bfcbd9
      .listTitle
        text-align:center
        padding:25px 0