.listBox
  position:relative
  .section
    padding:20px
    .searchBox
      position:relative
      .oneSearch
        display:flex
        border-bottom:1px dashed rgb(191, 203, 217)
        margin-bottom:20px
        padding:0 10px 10px
        .searchText
          width:50px
          height:36px
          line-height:36px
        .searchSection
          flex:1
          .searchButton
            margin:0 10px 10px 0!important
            &.default
              background-color:#13CE66
              border:1px solid #13CE66
              color:#fff
    .tableBox
      .listTitle
        font-size:14px
        text-align:center
        padding:10px 20px 30px
      .tableForm
        .formItem
          margin-bottom:0
          border-bottom:1px dashed #bfcbd9
          padding:5px
          &:first-of-type
            border-top:1px dashed #bfcbd9
    .listPage
      padding-top:20px
      text-align:center